.list-content ul {
  list-style-type: none; /* Remove default bullet points */
}

.list-content li {
  font-weight: normal;
}

.list-content li span{
  padding: 10px;
}

.archived-item {
  text-decoration: line-through; /* Apply line-through text decoration */
  color: #999; /* Change text color for archived items */
}