footer {
    background-color: #131921;
}
/* button{
    padding: 12px 24px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 22px !important;
}
button:hover{
    background-color: #C1F651 !important;
    /* color: #131921 !important; */
    /* font-weight: bold !important; */
    /* border-color: #131921 !important; */
/* }  */