/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root
{
    --main-color:#C1F651;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Noto Serif Lao', serif;
    --rating-color:#ffc908;
    --white-smoke: #F2F2F2;
    --steel: #75869C;
    --primary-color:#02021D;
    --yellow-green: #81D376;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--yellow-green); 
  }
body{
    font-family: var(--font-family) !important;
}
h6{
    font-size: 1em !important;
}
.border-main{
    border: solid 1px var(--main-color)!important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--yellow-green);
}
.text-primary
{
    color: var(--primary-color) !important;

}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
.bg-smoke
{
    background-color: var(--white-smoke) !important;
}
.bg-prim
{
    background-color: var(--primary-color);
    color: var(--white-smoke);
  
}
.sale{
    transform: translate(-11px,15px)rotate(0deg);
    /* transform: ; */

}
blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    /* background: #eee; */
    border-radius: 5px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    line-height: 115%;
    color: var(--primary-color) !important;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}
.css-wjh20t-MuiPagination-ul{
    justify-content: center !important;
}
.form-group{
    /* padding:10px; */
    /* border:2px solid; */
    /* margin:10px; */
    position: relative !important ;
  }
  .form-group>label{
    position:absolute !important;
    top:-10px !important;
    left:20px !important;
    background-color:white;
    z-index: 9999;
  }
  

  input{
  position: relative !important;
  }
  label:not(.radioLabel){
    display: none;
  }
  input:focus::placeholder{
    color: transparent !important;
  }
  input:not(.radioLabel):focus  +label:not(.radioLabel){
    display: inline-block !important;
    position: absolute !important;
    top:-10px !important;
    left:20px !important;
    background-color:white;
    z-index: 9999;
    color:  #3184FF ;
  }
  .form-control:disabled{
    background-color: white !important;
  }
  .accordion-button:focus {
    border-color: unset !important;
    box-shadow: unset !important;
    
}
.accordion-button:not(.collapsed) {
    color:unset !important;
    background-color: unset !important;
    box-shadow: unset !important;
    font-weight: bold !important;
}
.accordion-button::after {
    font: var(--fa-font-solid);
 
    flex-shrink: 0;
    /* width: var(--bs-accordion-btn-icon-width); */
    height: var(--bs-accordion-btn-icon-width);
    /* margin-left: auto; */
    content: "\f055" !important;
    background-image: unset !important;
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    /* transition: var(--bs-accordion-btn-icon-transition); */
    /* padding-left: 1rem; */
}
.accordion-button:not(.collapsed)::after {
    content: "\f056" !important;
    /* margin-left: 2rem; */
    background-image: var(--bs-accordion-btn-active-icon);
    /* transform: var(--bs-accordion-btn-icon-transform); */
}
.accordion-button:not(.collapsed)::after{
    transform: unset !important;
}
.css-1eoe787-MuiSlider-markLabel {
    font-family: var(--font-family) !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    color: var(--primary-color) !important;
    top: 35px !important;
    left: 15px !important;

}
.css-d3wcwz-MuiTypography-root {
    font-family: var(--font-family) !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    color: var(--primary-color) !important;
}
.css-yafthl-MuiSlider-markLabel {
    font-family: var(--font-family) !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    color: var(--primary-color) !important;
    top: 35px !important;
    left: 96% !important;
}
input[type="range" i]:disabled ,.css-1wcmj94-MuiSlider-root.Mui-disabled{
    
    color: red !important;
}
#showMore:not(.collapsed)::after {
    /* width: 20% !important; */
    padding-top: 1rem;
    content: "" !important;
    background-image: var(--bs-accordion-btn-active-icon);
    /* transform: var(--bs-accordion-btn-icon-transform); */
}
#showMoreBtn:not(.collapsed){

    background-color: var(--primary-color) !important;
    color: var(--white-smoke) !important;
}
#collapseMore{
    transition: all 0.5s ease-in-out;
}
.list-group-item:active,.list-group-item.active{
    background-color: var(--primary-color) !important;
    color: white !important;
}


.link{
    transition: all 0.5s;
}
.link:hover{
    background-color: #C1F651 !important;
    color: white !important;
    transition: all 0.5s;
}
.nav-link:not(.nav-bar):active,.nav-link.active:not(.nav-bar){
    background: #02021D !important;
    color: white !important;
}

#togglePassword{
    position: absolute !important;
    top: 30% !important;
    left: 90% !important;
    z-index: 9999999 !important;
}

@media  screen and (max-width:850px){
    #togglePassword{
        position: absolute !important;
        top: 30% !important;
        left: 80% !important;
    }
    h6, p,button,a{
        font-size: 0.8em !important;
    }
    .slick-slide img{
        height: 10% !important; 
    }
    .accordion-button{
        font-size: 0.5em !important;
    }
    #showMoreBtn >span{
        padding-bottom: 0.5em;
    }
    #showMoreBtn{
        padding: 1em 0.5em 0.5em 1em ;
    }
}
@media  screen and (min-width:1500px){
    #togglePassword{
        position: absolute !important;
        top: 30% !important;
        left: 93% !important;
    }
}


#togglePassword2{
    position: absolute !important;
    top: 20% !important;
    left: 85% !important;
    z-index: 9999999 !important;
}

@media  screen and (max-width:850px){
    #togglePassword2{
        position: absolute !important;
        top: 20% !important;
        left: 80% !important;
    }
}
@media  screen and (max-width:765px){
    #togglePassword2{
        position: absolute !important;
        top: 20% !important;
        left: 80% !important;
    }
}
@media  screen and (min-width:1500px){
    #togglePassword2{
        position: absolute !important;
        top: 20% !important;
        left: 93% !important;
    }
}


.loader  {
    animation: rotate 1s infinite;  
    height: 50px;
    width: 50px;
  }
  
  .loader:before,
  .loader:after {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;  
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite; 
    background-color: var(--primary-color);
    box-shadow: 30px 0 0 #97bf0d;
  }
  /* #00a096 */
  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
    }
  }
  
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
    }
  }

  #mailBtn{
    transition: all 0.5s ease-in-out;
  }
  #mailBtn:hover{
    background-color: var(--main-color);
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
  }